@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Welcome to the Vehicle Emporium</h1>
    <div>
        <label>What would you like to sell or buy today.</label>
        <select onChange="window.location.href=this.value">
        <option value="" disabled selected hidden>Vehicle Type</option>
        <option value="https://localhost:44371/Cars/index">Car</option>
        <option value="https://localhost:44371/MotorCycles/index">Motorcycle</option>
        <option value="https://localhost:44371/MotorHomes/index">Motor Home</option>
        <option value="https://localhost:44371/TravelTrailers/index">Travel Trailer</option>
        </select><br>
     </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner" c-item>
            <div class="carousel-item active">
                <img src="~/Images/CarsHome.jpg" class="d-block w-100 c-img" alt="Cars">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h1 class="display-1 fw-bolder text-capitalize">Cars</h1>
                    <button onclick="window.location.href = 'https://localhost:44371/Cars/index';" class=" btn btn-primary px-4 py-2 fs-3 mt-5">Browse</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/boats.jpg" class="d-block w-100 c-img" alt="Boats">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h1 class="display-1 fw-bolder text-capitalize">Boats</h1>
                    <button onclick="window.location.href = 'https://localhost:44371/Boats/index';" class=" btn btn-primary px-4 py-2 fs-3 mt-5">Browse</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/motorcyclehome.jpg" class="d-block w-100 c-img" alt="Motorcycles">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h1 class="display-1 fw-bolder text-capitalize">Cars</h1>
                    <button onclick="window.location.href = 'https://localhost:44371/MotorCycles/index';" class=" btn btn-primary px-4 py-2 fs-3 mt-5">Browse</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/motorhome.jpg" class="d-block w-100 c-img" alt="motorhomes">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h1 class="display-1 fw-bolder text-capitalize">Motorhomes</h1>
                    <button onclick="window.location.href = 'https://localhost:44371/MotorHomes/index';" class=" btn btn-primary px-4 py-2 fs-3 mt-5">Browse</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/traveltrailer.jpeg" class="d-block w-100 c-img" alt="traveltrailers">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h1 class="display-1 fw-bolder text-capitalize">Travel Trailers</h1>
                    <button onclick="window.location.href = 'https://localhost:44371/TravelTrailers/index';" class=" btn btn-primary px-4 py-2 fs-3 mt-5">Browse</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> 
</div>
