@model Vehicle__Emporium.Models.BoatEngine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BoatEngine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="engineDriveType" class="control-label"></label>
                <input asp-for="engineDriveType" class="form-control" />
                <span asp-validation-for="engineDriveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propellerType" class="control-label"></label>
                <input asp-for="propellerType" class="form-control" />
                <span asp-validation-for="propellerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propellerMaterial" class="control-label"></label>
                <input asp-for="propellerMaterial" class="form-control" />
                <span asp-validation-for="propellerMaterial" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="vehicleID" class="control-label"></label>
                <input asp-for="vehicleID" class="form-control" value="@ViewBag.ID"/>
                <span asp-validation-for="vehicleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="engineMake" class="control-label"></label>
                <input asp-for="engineMake" class="form-control" />
                <span asp-validation-for="engineMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="engineModel" class="control-label"></label>
                <input asp-for="engineModel" class="form-control" />
                <span asp-validation-for="engineModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="enginePower" class="control-label"></label>
                <input asp-for="enginePower" class="form-control" />
                <span asp-validation-for="enginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="engineType" class="control-label"></label>
                <input asp-for="engineType" class="form-control" />
                <span asp-validation-for="engineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="engineHour" class="control-label"></label>
                <input asp-for="engineHour" class="form-control"/>
                <span asp-validation-for="engineHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
