@model Vehicle__Emporium.ViewModels.TravelTrailerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TravelTrailer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="travelTrailer.rvClass" class="control-label"></label>
                <input asp-for="travelTrailer.rvClass" class="form-control" />
                <span asp-validation-for="travelTrailer.rvClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.length" class="control-label"></label>
                <input asp-for="travelTrailer.length" class="form-control" />
                <span asp-validation-for="travelTrailer.length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.slideOuts" class="control-label"></label>
                <input asp-for="travelTrailer.slideOuts" class="form-control" />
                <span asp-validation-for="travelTrailer.slideOuts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.dryWeight" class="control-label"></label>
                <input asp-for="travelTrailer.dryWeight" class="form-control" />
                <span asp-validation-for="travelTrailer.dryWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.vehicleMake" class="control-label"></label>
                <input asp-for="travelTrailer.vehicleMake" class="form-control" />
                <span asp-validation-for="travelTrailer.vehicleMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.vehicleModel" class="control-label"></label>
                <input asp-for="travelTrailer.vehicleModel" class="form-control" />
                <span asp-validation-for="travelTrailer.vehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.year" class="control-label"></label>
                <input asp-for="travelTrailer.year" class="form-control" />
                <span asp-validation-for="travelTrailer.year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.miles" class="control-label"></label>
                <input asp-for="travelTrailer.miles" class="form-control" />
                <span asp-validation-for="travelTrailer.miles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.mpg" class="control-label"></label>
                <input asp-for="travelTrailer.mpg" class="form-control" />
                <span asp-validation-for="travelTrailer.mpg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.condition" class="control-label"></label>
                <input asp-for="travelTrailer.condition" class="form-control" />
                <span asp-validation-for="travelTrailer.condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.price" class="control-label"></label>
                <input asp-for="travelTrailer.price" class="form-control" />
                <span asp-validation-for="travelTrailer.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="travelTrailer.description" class="control-label"></label>
                <input asp-for="travelTrailer.description" class="form-control" />
                <span asp-validation-for="travelTrailer.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <strong>Upload New File</strong> <div id="chooseFile"><input type="file" name="photo" accept="image/*" /></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
