@model Vehicle__Emporium.ViewModels.CarsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cars.carType" class="control-label"></label>
                <input asp-for="cars.carType" class="form-control" />
                <span asp-validation-for="cars.carType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.fuelCapcity" class="control-label"></label>
                <input asp-for="cars.fuelCapcity" class="form-control" />
                <span asp-validation-for="cars.fuelCapcity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.vehicleMake" class="control-label"></label>
                <input asp-for="cars.vehicleMake" class="form-control" />
                <span asp-validation-for="cars.vehicleMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.vehicleModel" class="control-label"></label>
                <input asp-for="cars.vehicleModel" class="form-control" />
                <span asp-validation-for="cars.vehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.year" class="control-label"></label>
                <input asp-for="cars.year" class="form-control" />
                <span asp-validation-for="cars.year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.miles" class="control-label"></label>
                <input asp-for="cars.miles" class="form-control" />
                <span asp-validation-for="cars.miles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.mpg" class="control-label"></label>
                <input asp-for="cars.mpg" class="form-control" />
                <span asp-validation-for="cars.mpg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.condition" class="control-label"></label>
                <input asp-for="cars.condition" class="form-control" />
                <span asp-validation-for="cars.condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.price" class="control-label"></label>
                <input asp-for="cars.price" class="form-control" />
                <span asp-validation-for="cars.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars.description" class="control-label"></label>
                <input asp-for="cars.description" class="form-control" />
                <span asp-validation-for="cars.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <strong>Upload New File</strong> <div id="chooseFile"><input type="file" name="photo" accept="image/*" /></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
