@*@model Vehicle__Emporium.Models.MotorHomes*@
@model Vehicle__Emporium.ViewModels.MotorHomeViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MotorHomes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="motorHomes.slideOuts" class="control-label"></label>
                <input asp-for="motorHomes.slideOuts" class="form-control" />
                <span asp-validation-for="motorHomes.slideOuts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.sleeps" class="control-label"></label>
                <input asp-for="motorHomes.sleeps" class="form-control" />
                <span asp-validation-for="motorHomes.sleeps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.fuelType" class="control-label"></label>
                <input asp-for="motorHomes.fuelType" class="form-control" />
                <span asp-validation-for="motorHomes.fuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.rvClass" class="control-label"></label>
                <input asp-for="motorHomes.rvClass" class="form-control" />
                <span asp-validation-for="motorHomes.rvClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.length" class="control-label"></label>
                <input asp-for="motorHomes.length" class="form-control" />
                <span asp-validation-for="motorHomes.length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.vehicleMake" class="control-label"></label>
                <input asp-for="motorHomes.vehicleMake" class="form-control" />
                <span asp-validation-for="motorHomes.vehicleMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.vehicleModel" class="control-label"></label>
                <input asp-for="motorHomes.vehicleModel" class="form-control" />
                <span asp-validation-for="motorHomes.vehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.year" class="control-label"></label>
                <input asp-for="motorHomes.year" class="form-control" />
                <span asp-validation-for="motorHomes.year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.miles" class="control-label"></label>
                <input asp-for="motorHomes.miles" class="form-control" />
                <span asp-validation-for="motorHomes.miles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.mpg" class="control-label"></label>
                <input asp-for="motorHomes.mpg" class="form-control" />
                <span asp-validation-for="motorHomes.mpg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.condition" class="control-label"></label>
                <input asp-for="motorHomes.condition" class="form-control" />
                <span asp-validation-for="motorHomes.condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.price" class="control-label"></label>
                <input asp-for="motorHomes.price" class="form-control" />
                <span asp-validation-for="motorHomes.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.description" class="control-label"></label>
                <input asp-for="motorHomes.description" class="form-control" />
                <span asp-validation-for="motorHomes.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motorHomes.ImageUpload" class="control-label"></label>
                <input asp-for="motorHomes.ImageUpload" class="form-control" />
                <span asp-validation-for="motorHomes.ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
