html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.c-item {
    height: 450px;
}

.c-img {
    height: 520px;
    object-fit: cover;
    filter: brightness(0.6);

}
